[Unit]
Description=LinuxCNC NML G-Code Server
After=network.target linuxcnc.service
Wants=linuxcnc.service

[Service]
Type=simple
User=cnc
WorkingDirectory=/home/cnc/linuxcnc-gcode-server
ExecStartPre=/bin/sleep 2
ExecStart=/home/cnc/linuxcnc-gcode-server/linuxcnc-gcode-server -p 5007 -i /home/cnc/linuxcnc/configs/rotarytable/rotarytable.ini
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
