[Unit]
Description=LinuxCNC Core Motion Engine
After=network.target

[Service]
Type=simple
User=cnc
WorkingDirectory=/home/cnc
ExecStart=/usr/bin/linuxcnc /home/cnc/linuxcnc/configs/rotarytable/rotarytable.ini
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
