[Unit]
Description=LinuxCNC Core Motion Engine
After=network.target

[Service]
Type=simple
User=cnc
WorkingDirectory=/home/cnc
# ExecStart uses -r flag to automatically restart without interactive Y/n prompt
ExecStart=/usr/bin/linuxcnc -r /home/cnc/linuxcnc/configs/rotarytable/rotarytable.ini
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
